@import './vars.scss';
@import './fonts.scss';
@import './reset.scss';

body {
  background: #1E213F;
  color: #D7E0FF;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
  @media ( max-width: 440px ) {
    height: 1450px;
  }
}

.default {
  --color: #F87070;
  --hover-color: #F68D8D;
}
.default.blue {
  --color: #70F3F8;
  --hover-color: #9AEEF1;
}
.default.violet {
  --color: #D881F8;
  --hover-color: #D89CEE;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.settings__container {
  padding: 0 40px;
}
.settings__hr {
  width: 100%;
  height: 1px;
  background: black;
  opacity: .1;
  margin: 25px 0;
}